{% extends 'home/home.html' %}

{% block section %}
{% include 'include/messages.html' %}
<div class="container py-5">
  <div class="row justify-content-center">    
    <div class="col-md-6"> 
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title mb-0">Registrar Computadora</h3>
        </div>
        <form method="post" enctype="multipart/form-data" class="p-4">
          {% csrf_token %}

          <div class="form-outline">
            <input type="text" name="first_name" maxlength="100" required id="id_first_name" placeholder=" " class="form-control" />
            <label for="id_first_name">Marca <span class="required-asterisk">*</span></label>
          </div>

          <div class="form-outline">
            <input type="text" name="number" maxlength="100" required id="id_number" placeholder=" " class="form-control" />
            <label for="id_number">Número <span class="required-asterisk">*</span></label>
          </div>

          <div class="form-outline">
            <input type="text" name="description" maxlength="50" required id="id_description" placeholder=" " class="form-control" />
            <label for="id_description">Observación <span class="required-asterisk">*</span></label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="is_available" class="form-check-input" id="id_is_available" checked>
            <label class="form-check-label" for="id_is_available">Disponible</label>
          </div>
          <div class="form-check">
            <input type="checkbox" name="is_technical_issue" class="form-check-input" id="id_is_technical_issue">
            <label class="form-check-label" for="id_is_technical_issue">Problema Técnico</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
