.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0000006a;
    border-radius: 5px; /* Agrega un borde sólido de 2 píxeles de ancho en color negro */
    padding: 10px; /* Añade relleno alrededor del contenido para dar espacio entre el borde y el contenido */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

[class*=sidebar-dark-] {
  background: linear-gradient(to bottom right,#3399FF 70%, #FF9900 30%);
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #3399FF
}

.card-body {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

       
/* Estilos para el botón "Eliminar" con clase .delete-button */
/* Estilos para el botón "Eliminar" con clase .delete-button */
.delete-button {
    background-color: #dc3545; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Quitar el borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 5px 8px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    font-size: 14px; /* Tamaño del texto */
    margin-left: 20px;
    margin-top: 15;
}

/* Estilos para el contenedor del botón */
.diahorariocursada_set {
    display: flex; /* Usar flexbox para centrar verticalmente */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 10px;
}


.delete-button:hover {
    background-color: #c82333; /* Cambiar el color de fondo al pasar el ratón */
}


.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #2a3547;
}

th, td {
  padding: 8px;
  text-align: left;
}

.encabezado-tabla {
  background-color: #2a3547;
  color: white;
}

.encabezado-tabla:hover {
  background-color: #2a3547;
}

.encabezado-tabla th:hover {
  cursor: default;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Evitar hover para el encabezado de la tabla */
tbody tr:hover:not(.encabezado-tabla) {
  background-color: #e0e0e0 !important;
}


.actions a {
    margin-right: 10px;
    transition: transform 0.3s;
}

.add-button {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 1em;
    border: 2px solid #3399FF;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .add-button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #3399FF;
    z-index: -1;
  }
  
.add-button:hover, .add-button:focus {
    color: white !important;
}
  
.add-button:hover:before, .add-button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
  
.add-button:active {
    transform: scale(0.9);
}

.add-link {
    text-decoration: none; /* Para quitar el subrayado del enlace */
    color: #008B8B; /* Color del texto predeterminado */
}

.add-link:hover {
    color:white; /* Cambia el color del texto al pasar el mouse */
}

.add-icon {
    color: #fff; /* Color del icono predeterminado */
}

.add-link:hover .add-icon {
    color: white; /* Cambia el color del icono al pasar el mouse */
}

.card-list .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h3.card-list {
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    font-family: 'Montserrat', sans-serif; /* Tipo de fuente (Montserrat) */
    /* Otras propiedades de estilo que desees agregar */
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.bounce-bottom{animation:bounce-bottom .9s linear both} @keyframes bounce-bottom{0%{transform:translateY(45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(24px);animation-timing-function:ease-in}65%{transform:translateY(12px);animation-timing-function:ease-in}82%{transform:translateY(6px);animation-timing-function:ease-in}93%{transform:translateY(4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

  
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#outline {
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.6s linear infinite;
  animation: anim 1.6s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}


.container-card{
  box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75)!important;
}

.container-card:hover{
  background: linear-gradient(to bottom right,  #3399FF 70%, #FF9900 30%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:aliceblue;
  box-shadow: 10px 10px 20px -8px rgba(124, 124, 124, 0.646);
}


.card {
  margin-bottom: 1.5rem;
}


body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, .nav-link, .btn {
  font-family: 'Montserrat', sans-serif;
}

.card {
    animation: fadeInUp 0.6s ease;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .nav-sidebar .nav-link.active, .nav-sidebar .nav-link:hover {
  background-color: #007bff; /* azul primario */
  color: #fff;
}

.nav-sidebar .nav-link:hover .nav-icon {
  color: #fff;
}

body {
  background: linear-gradient(135deg, #f0f2f5 0%, #ffffff 100%);
}